/* Globales */
* {
    box-sizing: border-box;
    font-family: "Quicksand";
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

body {
    background: rgb(92, 39, 116);
    background: linear-gradient(180deg, rgba(92, 39, 116, 1) 0%, rgba(57, 96, 203, 1) 100%);
    width: 100vw;
    overflow-x: hidden;
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.item-scroll {
    scroll-snap-align: start;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

span {
    font-family: "Balmy";
}

/* generic classes */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.inline {
    display: inline;
}



/* icones & images */
.logo-nestegg-default {
    width: 5.5em;
    z-index: 1;
}

.ico-menu-hamburger {
    height: 3.125em;
    z-index: 1;
}

#landing,
#concept,
#about-us,
#price {
    height: 100vh;
    /* scroll-snap-align: start; */
}

/* Boutons */

#art-btn-concept {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}



/*.btn-primary {
    height: 2.5em;
    border-radius: 25px;
    padding: 0 1em;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}*/



/* Landing */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em 1em 0.75em 0em;
    z-index: 100;
    /* outline: 1px solid red; */
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10%;
}

#landing main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0em 2.5em;
}


/*Concept*/



/* Boxing */
/* section{
   outline: 1px solid black;
}
article, aside{
    outline: 1px solid red;
}
p,h1,h2,h3,h4,h5,img{
    outline : 1px solid blue;
}
div{
    outline: 1px solid greenyellow;
} */

.nav-primary {
    background-color: linear-gradient(180deg, rgba(92, 39, 116, 1) 0%, rgba(57, 96, 203, 1) 25%);

    /*background-color: red;*/
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0em;
    backdrop-filter: blur(50px);
    width: 100vw;
    height: 100vh;
    border-radius: 0px 0px 160px 160px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    /*margin-top: 90px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-primary>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    /*background-color: aqua;*/
}

/*.nav-primary>ul::after {
        content:"";
        background-color: #DDB993;
        height:10px;
        display:block;
        width:900px;
        align-items:right;
        */
/*doit être modifié*/
/*
        width:900px;
        position: relative;
        left: 400px;
        */
/*^*/
/*
    }*/
.nav-primary>ul>li {
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: darkred;*/
    width: 100%;
}


/*.btn-connect {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Quicksand";
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    height: 2.5em;
    border-radius: 15px;
    padding: 0 1em;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}*/
/* essai d'alignement vertical du contenu de la balise connexion*/
/*.btn-connect {
    flex-direction: row;
    display:block;
    text-align: center;
    line-height: 2.5em;
}*/

.connexion-a-div-nav-header {
    text-align: center;
    justify-content: center;
}


.pop-up-auth {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(92,39,116,0.); */
    backdrop-filter: blur(70px);
    height: 100vh;
    width: 100%;
    z-index: 15;
    position: absolute;
    top: 0em;
}

#authentification {
    /* Validé */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.25em;
}


#connexion,
#inscription {
    /*border:2px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#connexion>section,
#inscription>section {
    /*border:2px solid green;*/
    display: flex;
    flex-direction: column;
}

#connexion>section>input,
#inscription>section>input {
    height: 3.25em;
    /*seulement pour #connexion*/
    margin: 0.5em;
    width: 80vw;
    padding: 0.75em;
}

#inscription>section>input {
    height: 2em;
}

input {
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 3.125em;
}

.text-small {
    font-size: 0.75em;
}













/* Buttons */
button {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Quicksand";
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    height: 2em;
    border-radius: 100px;
    padding: 0 1em;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.balmy {
    font-family: "Balmy";
}

.img-nav-header {
    width: 100px;
    /*background-color: red;*/
    /*position: absolute;*/
    height: 150px;
    width: 150px;
    bottom: 37px;
    right: 78px;
    /*right: 3em;*/
    display: none;
}



.btn-sign-in {
    font-weight: 700;
}




/* Test pour créer une ligne sur le hover:
ul {
    position: relative;
    left:35%;
    width: 100%;
}
li:hover {
    border-bottom: solid black 5px;
}
a{
    position: relative;
    top:40px;
    left:-35%;
}
*/


.connexion-div-nav-header {
    /*background-color: lightgreen;*/
    display: inline;
}

.connexion-div-nav-header,
.ico-user,
.button-div-nav-header {
    display: inline-flex;
    justify-content: center;
    line-height: 1em;
    /*background-color: red;*/
    display: flex;
    /* A regarder*/
    align-items: center;
    /* A regarder*/
}

/*.connexion-div-nav-header {
    display:flex;
    align-items: center;
}*/
.ico-user {
    /*background-color: purple;*/
    display: inline;
    height: 30px;
    width: 30px;
}

.close-pop-up {
    margin-top: 1em;
    width: 3em;
}

.bottom-section-form-article-header {
    /*should change */
    margin-top: 4em;
    gap: 1em;
}

.article-section-inscription {
    margin: 0 2em;
    font-size: 12px;
}

.section2-inscription {
    gap: 1em;
}

.meConnecter-a-p-section-inscription {
    text-decoration: underline;
}

.form-connexion,
.form-inscription {
    /*background-color: red;*/
    height: 400px;
}









.nav-secondary {
    flex-direction: row;
}

.nav-secondary ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vh;
}


.nav-secondary .ul-nav-header li {
    display: flex;
    align-items: center;
}