.scroll-container,
.scroll-area {
    /*max-width: 850px;*/
    height: 600px;
    /*font-size: 60px;*/
}



.scroll-container {
    overflow: auto;
    /*-webkit-scroll-snap-type: y mandatory;
            -ms-scroll-snap-type: y mandatory;*/
    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
}


.nav-secondary {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0em;
    backdrop-filter: none;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
