*{
    box-sizing: border-box;
    font-family: "Quicksand";
    color: white;
    font-size: 1em;
    margin: 0;
    padding:0;
}


body{
    background: rgb(92,39,116);
    background: linear-gradient(180deg, rgba(92,39,116,1) 0%, rgba(57,96,203,1) 100%);
}

body>header{
    display: flex;
    justify-content: space-between    
}
ul>li{
    text-decoration: none;
    list-style: none;
    font-size: 1.5em;
    margin: 0.5em;
    
}
a{
 display:flex;
 justify-content:center;
 align-items: center;
 align-content:center;
 text-decoration:none;
}


/* icons  & images*/
.logo-nestegg-default{
    width: 5.5em;    

}

.ico-menu-hamburger{
    height: 3.125em;   
    
}


.nav-primary{
    background-color: linear-gradient(180deg, rgba(92,39,116,1) 0%, rgba(57,96,203,1) 25%);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5em;
    backdrop-filter: blur(50px);
    width:100vw;
    height:90vh;
    border-radius: 0px 0px 160px 160px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.nav-primary>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    
}



/* Boutons */
.btn-connect{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0.25em;
    background-color: rgba(255,255,255,0.5);    
    align-items: center;
    border-radius: 100px;
    width:50vw;
}
.btn-connect>a{
    width: 100%;
    text-align: center;
}


/* header{
    height: 82px;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header ul{
    display: none;
}

header img{
    height: 82px;
    height: 88px;
    width: 88px;
}


#landing{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing h1{
    text-align: center;
    font-size: 2.5em;
    margin: 0px;
}

#landing p{
    text-align: center;
    width: 225px;
}

#art-btn-concept{
    display: flex;
    flex-direction: column;
    margin-top: 0.75em;
    gap: 0.5em;
}

#landing button{
    background-color: FFFFFF;
    opacity: 50%;
    border-radius: 100px;
    height: 41px;
}

#landing button a{
    opacity: 100%;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 0.75em;
} */

