*{
    box-sizing: border-box;
    font-family: "Quicksand";
    color: white;
    font-size: 1em;
    margin: 0;
    padding:0;
    border: 0;
}


body{
    background: rgb(92,39,116);
    background: linear-gradient(180deg, rgba(92,39,116,1) 0%, rgba(57,96,203,1) 100%);
}

body>header{
    display: flex;
    justify-content: space-between;
    height: 13vh;    
}
ul>li{
    text-decoration: none;
    list-style: none;
    font-size: 1.5em;
    margin: 0.5em;
    
}
a{
 display:flex;
 justify-content:center;
 align-items: center;
 align-content:center;
 text-decoration:none;
}


/* icons  & images*/
.logo-nestegg-default{
    width: 5.5em;    

}

.ico-menu-hamburger{
    height: 3.125em;   
    
}


.nav-primary{
    background-color: linear-gradient(180deg, rgba(92,39,116,1) 0%, rgba(57,96,203,1) 25%);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5em;
    backdrop-filter: blur(50px);
    width:100vw;
    height:90vh;
    border-radius: 0px 0px 160px 160px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.nav-primary>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    
}



/* Boutons */
.btn-connect{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0.25em;
    background-color: rgba(255,255,255,0.5);    
    align-items: center;
    border-radius: 100px;
    width:50vw;
}
.btn-connect>a{
    width: 100%;
    text-align: center;
}


 #landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77vh;
}


.title-nest-egg{
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
}

.span-title-nest-egg{
    font-family: "Balmy";
}

.text-intro{
    text-align: center;
    width: 225px;
    margin: auto;
    margin-top: 10px;
}

.img-egg{
    display: flex;
    margin: auto;
    margin-top: 10px;
}

#art-btn-concept{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 188px;
    margin: auto;
    margin-top: 10px;
    gap: 8px;
}

.btn-link-concept{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5em;
    background-color: rgba(255,255,255,0.5);    
    align-items: center;
    border-radius: 100px;
    width:50vw;
}

.btn-link-concept>a{
    width: 100%;
    text-align: center;
}

/* #concept */

#concept{
    background-color: rgba(221, 185, 147, 1);
    height: 120vh;
    /* temporaire  */
    margin-top: 10px;
    padding: 1.25em;
    text-align: center;
}

#concept-1, #concept-2, #concept-3{
    margin-top: 3em;
}

#concept-1 span{
    font-family: "Balmy";
}

.aside-text-concept{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.aside-text-concept button{
    height: 35px;
    font-size: 1.25em;
    /* a revoir */
    box-shadow: 0.5px 0.5px rgba(131, 114, 114, 0.226);
}

/* about us */
.text-intro-about-us{
    /* >400px : visible */
    display: none;
}